<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeyOc9xkjmnqiOKaifMnpPVq8Zlpe8-aE</string>
	<key>GCM_SENDER_ID</key>
	<string>108498479916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tymofii.CarReader</string>
	<key>PROJECT_ID</key>
	<string>carsdatabase-1</string>
	<key>STORAGE_BUCKET</key>
	<string>carsdatabase-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108498479916:ios:4bd757c9221071fcb95a89</string>
</dict>
</plist>